.post_companent {
  background: rgba(141, 112, 112, 0.274);
  backdrop-filter: saturate(180%) blur(10px);
  width: 80%;
  height: fit-content;
  top: 25%;
  left: 12%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.for_search{
  top: 14%;
  
}

.close__addadv {
  background-color: rgba(255, 255, 255, 0.507);
  color: red;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.close__addadv h3 {
  text-align: center;
}

.posts__companent {
  background-color: rgba(255, 255, 255, 0.486);
  width: 220px;
  height: fit-content;
  border-radius: 10px;
  margin: 20px;
}

.posts__companent:hover{
  cursor: pointer;
  color: rebeccapurple;
  background-color: rgb(241, 241, 241);
  transform: scale(1.03);
  transition: 600ms;
}

.post__image {
  border-radius: 10px;
}

.titles__post {
  font-size: 15px;
  font-weight: 700;
}

.card__text{
  padding: 8px;
}


.fullInfo{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.616);
  backdrop-filter: saturate(180%) blur(40px);
}

.fullInfo__back{
  display: flex;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.info__texts{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.fullInfo__title{
  width: 500px;
  font-size: x-large;
  font-weight: 600;
}

.fullname__price{
  background-color: rgb(255, 187, 0);
  padding: 10px;
  font-size: larger;
  font-weight: 600;
  border-radius: 10px;
  color: aliceblue;
}

.fullname__telefon{
  background-color: rgb(0, 17, 255);
  padding: 10px;
  font-size: larger;
  font-weight: 600;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scroll_to_top{
  border: none;
  background: none;
  font-size: 50px;
  color: gray;
  cursor: pointer;
}

.scroll_to_top:hover{
  color: rgb(182, 179, 179);
  transition: 600ms;
}