.all__categories{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    gap: 10px;
    margin-left: 20%;
    margin-top: 5%;
}
.categories_container_first{
    display: flex;
    /* position: absolute; */
    top: 80px;
    left: 20%;
    gap: 20px;
    align-items: center;
}
.card_categories p{
    color: white;
    padding: 0 6px 0 0;
}
.link__categories:hover{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
    cursor: pointer;
}
div .card_categories{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card_categories{
    background: rgba(255, 255, 255, 0.205);
    backdrop-filter: saturate(180%) blur(10px);
    width: 200px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.322);
}
.icons_categories{
    font-size: 27px;
    color: white
}
.larger_icon{
    font-size: 40px;
}
.categories_container_second{
    display: flex;
    position: absolute;
    top: 160px;
    left: 24%;
    align-items: center;
    gap: 20px;
}

.categories_container_third{
    display: flex;
    position: absolute;
    top: 240px;
    left: 20%;
    gap: 20px;
    align-items: center;

}
.categories_container_forth{
    display: flex;
    position: absolute;
    top: 320px;
    left: 24%;
    gap: 20px;
    align-items: center;
}