.filter__container {
  background: rgba(141, 112, 112, 0.274);
  backdrop-filter: saturate(180%) blur(10px);
  width: 87vw;
  height: fit-content;
  position: absolute;
  left: 9%;
  top: 12%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.select__price {
  padding: 8px 12px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.507);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.at_to_select {
  margin-right: 7px;
}
.at_to_select:nth-of-type(2) {
  margin-left: 10px;
}

.select__price:focus {
  outline: none;
}

.search__btn__price {
  border: none;
  background-color: rgba(66, 179, 207, 0.432);
  color: white;
  padding: 8px 12px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
}
