body{
    background-image: url('https://www.addictivetips.com/app/uploads/2020/04/iu8EKbX.png');
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: #303030;
}

::-webkit-scrollbar-thumb{
    border-radius: 16px;
    background: rgb(128, 122, 122);
}